* {
    box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-top: 3px solid #000;
    width: 98%;
}

ul {
    text-align: center;
    position: relative;
    padding-left: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
}

.no-products {
    text-align: center;
    margin-top: 100px;
    font-size: 1.6em;
}

.message {
    font-size: 0.8em;
    color: #808080;
}

.card {
    border: 3px solid #000;
    margin: 20px;
}

.delete-checkbox {
    margin-top: 10px;
    margin-left: 10px;
}

.logo {
    float: left;
    margin-left: 20px;
}

.buttons {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    cursor: pointer;
}

button {
    cursor: pointer;
    margin-left: 30px;
    box-shadow: 3px 3px;
}

input,
select {
    margin: 10px;
}

#sku {
    margin-left: 40px;
}

#name {
    margin-left: 30px;
}

#price {
    margin-left: 12px;
}

.type_switcher {
    margin-right: 7px;
}

.dvd, 
.furniture, 
.book {
    margin-top: 20px;
    display: none;
}

#height,
#width,
#length,
#weight {
    width: 135px;
}

#width {
    margin-left: 8px;
}

#height {
    margin-left: 3px;
}

#book,
#size {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: black;
}